
@media only screen and (min-width:480px) and (max-width: 720px) {
    body{
        width:480px;
    }

    #whole-thing{
        display:grid;
        grid-template-areas: 
        'a a'
        'b b'
        'c c'
        'd d'
        'e f'
        'g h'
        'i i'

    }


    #a{
        width:480px;
        height:75px;
        background:blue;
        grid-area: a;
    }
    #b{
        width:480px;
        height:125px;
        background:green;
        grid-area: b;
    }
    #c{
        width:480px;
        height:125px;
        background: orange;
        grid-area: c;
    }
    #d{
        width:480px;
        height:125px;
        background: pink;
        grid-area: d;
    }
    .e{
        
        width:240px;
        height:250px;
        margin:0 0;
        background:darksalmon;
        grid-area: e;
    }

    .f{
        width:240px;
        height:250px;
        margin:0 0;
        background:forestgreen;
        grid-area: f;
        
    }
    .g{
        width:240px;
        height:250px;
        margin:0 0;
        background:purple;
        grid-area: g;
    }
    .h{
        width:240px;
        height:250px;
        margin:0 0;
        background:yellow;
        grid-area: h;
    }

    .blockb{
        display:inline-block;
        margin:0 0;
    }
    #i{
        width:480px;
        height:80px;
        border:1px solid black;
        margin-top:-3px;
        margin-bottom:0;
        background: darkgoldenrod;
        grid-area: i;
    }
    span{
        text-align:center;
        display:block;
        position:relative;
        top:50%;
    }


}

@media only screen and (min-width:721px) and (max-width: 959px) {
    body{
        width:480px;
    }

    #whole-thing{
        display:grid;
        grid-template-areas: 
        'a a'
        'b b'
        'c c'
        'd d'
        'e f'
        'g h'
        'i i'

    }


    #a{
        width:480px;
        height:75px;
        background:hotpink;
        grid-area: a;
    }
    #b{
        width:480px;
        height:125px;
        background:darkred;
        grid-area: b;
    }
    #c{
        width:480px;
        height:125px;
        background: limegreen;
        grid-area: c;
    }
    #d{
        width:480px;
        height:125px;
        background: aquamarine;
        grid-area: d;
    }
    .e{
        
        width:240px;
        height:250px;
        margin:0 0;
        background:khaki;
        grid-area: e;
    }

    .f{
        width:240px;
        height:250px;
        margin:0 0;
        background:rgb(161, 67, 216);
        grid-area: f;
        
    }
    .g{
        width:240px;
        height:250px;
        margin:0 0;
        background:green;
        grid-area: g;
    }
    .h{
        width:240px;
        height:250px;
        margin:0 0;
        background:blue;
        grid-area: h;
    }

    .blockb{
        display:inline-block;
        margin:0 0;
    }
    #i{
        width:480px;
        height:80px;
        border:1px solid black;
        margin-top:-3px;
        margin-bottom:0;
        background: azure;
        grid-area: i;
    }
    span{
        text-align:center;
        display:block;
        position:relative;
        top:50%;
    }


}
@media only screen and (min-width:960px) {

    body{
        width:960px;
    }
    #e{
        width:240px;
        height:250px;
        background:blue;
  
    }

    #whole-thing{
        display:grid;
        grid-template-areas: 
        'a a a a a a a a a a a '
        'b b b c c c c d d d d '
        'b b b e e f f g g h h '
        'b b b i i i i i i i i ';

    }

    div{
        margin:0 0;
        border: 1px solid black;

    }
    #a{
        width:960px;
        height:100px;
        background:red;
        order:1;
        grid-area: a;
    }
    #b{
        width:200px;
        height:600px;
        background:purple;
      grid-area: b;
    }
    #c{
        width:380px;
        height:200px;
        background: orange;
      grid-area: c;
    }
    #d{
        width:380px;
        height:200px;
        background: greenyellow;
      grid-area: d;
    }
    .e{
        
        width:190px;
        height:250px;
        margin:0 0;
        background:deeppink;
      grid-area: e;
    }

    .f{
        width:190px;
        height:250px;
        margin:0 0;
        background:firebrick;
        grid-area: f;
    }
    .g{
        width:190px;
        height:250px;
        margin:0 0;
        background:lime;
      grid-area: g;
        
    }
    .h{
        width:190px;
        height:250px;
        margin:0 0;
        background:khaki;
      grid-area: h;
        
    }

    #i{
        width:760px;
        height:150px;
        border:1px solid black;
        margin-top:-3px;
        margin-bottom:0;
        background: skyblue;
      grid-area: i;
    }
    span{
        text-align:center;
        display:block;
        position:relative;
        top:50%;
    }
}