
@media only screen and (min-width:480px) and (max-width: 720px) {
    body{
        width:480px;
    }


    #e{
        width:240px;
        height:250px;
        background:red;

    }

    #top-boxes{
        margin:0 0;
        border: 1px solid black;
        display:flex;
        flex-direction: column;
    }

    #bottom-boxes{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    #a{
        width:480px;
        height:75px;
        background:blue;
    }
    #b{
        width:480px;
        height:125px;
        background:green;
    }
    #c{
        width:480px;
        height:125px;
        background: orange;
    }
    #d{
        width:480px;
        height:125px;
        background: pink;
    }
    .e{
        
        width:240px;
        height:250px;
        margin:0 0;
        background:darksalmon;
    }

    .f{
        width:240px;
        height:250px;
        margin:0 0;
        background:forestgreen;
        
    }
    .g{
        width:240px;
        height:250px;
        margin:0 0;
        background:purple;
        
    }
    .h{
        width:240px;
        height:250px;
        margin:0 0;
        background:yellow;
        
    }

    .blockb{
        display:inline-block;
        margin:0 0;
    }
    #i{
        width:480px;
        height:80px;
        border:1px solid black;
        margin-top:-3px;
        margin-bottom:0;
        background: darkgoldenrod;
    }
    span{
        text-align:center;
        display:block;
        position:relative;
        top:50%;
    }


}

@media only screen and (min-width:721px) and (max-width: 959px) {
    body{
        width:480px;
    }


    #e{
        width:240px;
        height:250px;
        background:purple;

    }

    #top-boxes{
        margin:0 0;
        border: 1px solid black;
        display:flex;
        flex-direction: column;
    }

    #bottom-boxes{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    #a{
        width:480px;
        height:75px;
        background:cyan;
    }
    #b{
        width:480px;
        height:125px;
        background:coral;
    }
    #c{
        width:480px;
        height:125px;
        background: yellow;
    }
    #d{
        width:480px;
        height:125px;
        background: teal;
    }
    .e{
        
        width:240px;
        height:250px;
        margin:0 0;
        background:lightseagreen;
    }

    .f{
        width:240px;
        height:250px;
        margin:0 0;
        background:lightskyblue;
        
    }
    .g{
        width:240px;
        height:250px;
        margin:0 0;
        background:crimson;
        
    }
    .h{
        width:240px;
        height:250px;
        margin:0 0;
        background:aqua;
        
    }

    #i{
        width:480px;
        height:80px;
        border:1px solid black;
        margin-top:-3px;
        margin-bottom:0;
        background: darkgoldenrod;
    }
    span{
        text-align:center;
        display:block;
        position:relative;
        top:50%;
    }


}
@media only screen and (min-width:960px) {

    body{
        width:960px;
    }
    #e{
        width:240px;
        height:250px;
        background:blue;
  
    }

    #whole-thing{
        display:grid;
        grid-template-areas: 
        'a a a a a a a a a a a '
        'b b b c c c c d d d d '
        'b b b e e f f g g h h '
        'b b b i i i i i i i i ';

    }

    div{
        margin:0 0;
        border: 1px solid black;

    }
    #a{
        width:960px;
        height:100px;
        background:red;
        order:1;
       grid-area: a;
    }
    #b{
        width:200px;
        height:600px;
        background:purple;
      grid-area: b;
    }
    #c{
        width:380px;
        height:200px;
        background: orange;
      grid-area: c;
    }
    #d{
        width:380px;
        height:200px;
        background: greenyellow;
      grid-area: d;
    }
    .e{
        
        width:190px;
        height:250px;
        margin:0 0;
        background:deeppink;
      grid-area: e;
    }

    .f{
        width:190px;
        height:250px;
        margin:0 0;
        background:firebrick;
        grid-area: f;
    }
    .g{
        width:190px;
        height:250px;
        margin:0 0;
        background:lime;
      grid-area: g;
        
    }
    .h{
        width:190px;
        height:250px;
        margin:0 0;
        background:khaki;
      grid-area: h;
        
    }

    #i{
        width:760px;
        height:150px;
        border:1px solid black;
        margin-top:-3px;
        margin-bottom:0;
        background: skyblue;
      grid-area: i;
    }
    span{
        text-align:center;
        display:block;
        position:relative;
        top:50%;
    }


